.input-search {
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 200px; 
    font-size: 16px;
    padding: 12px 20px; 
    border: 2px solid  hsl(0, 70%, 70%); 
    margin-top: 20px; 
    margin-left: 2%; 
    position: relative;
    border-radius: 5px;
    box-shadow: 0 6px 18px -9px hsl(210, 15%, 65%);
}
.input-search:focus {
    outline: none; 
}
.work-list{
    position: absolute;
    list-style-type: none;
    top: 150px;
    left: 1%;
    width: 200px;
}
.work-list li{
    border-bottom: 1px solid hsl(0, 70%, 70%);
    transition: background-color 0.4s ease;
}
.work-list li:hover{
    background-color: hsla(0, 82%, 85%, 0.793);
    cursor: pointer;
}
.work-list li span{
    margin-top: -1px; 
    /* background-color: #f4f4f46e;  */
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: #333; 
    display: block; 
}

.workManager__container {
    width: 95%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.workManager__container>button {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: hsl(0, 80%, 80%);
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.workManager__container>button:hover {
    background-color: hsla(0, 82%, 85%, 0.793);
}

.workManager__container>button:active {
    background-color: hsl(0, 80%, 80%);
}

.workManager__works {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    .input-search {
        width: 20%; 
        margin-left: 0; 
        background-color: red;
    }
}